<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126874447473-qk98htppfi5uqmogtsrurj30f58cevq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126874447473-qk98htppfi5uqmogtsrurj30f58cevq2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>126874447473-thm2rvv3vva6goo9jd6racdt9i29uqug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAerrwvLtoKdDngftqD8x4kDmdlFNIEVwo</string>
	<key>GCM_SENDER_ID</key>
	<string>126874447473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firejuun.flutter-vista</string>
	<key>PROJECT_ID</key>
	<string>flutter-vista</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-vista.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126874447473:ios:3a5b95cb699d232990b5d0</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-vista.firebaseio.com</string>
</dict>
</plist>